body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #b58bf5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
}

h2 {
  text-align: center;
  color: #5b2c83;
  margin-bottom: 25px;
  font-size: 26px;
}

.form-group {
  margin-bottom: 18px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus {
  border-color: #9b59b6;
  outline: none;
  box-shadow: 0 0 5px rgba(155, 89, 182, 0.4);
}

.btn {
  width: 100%;
  background-color: #8e63cf;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.btn:hover {
  background-color: #9c6fde;
}

.footer-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.footer-text a {
  color: #8e44ad;
  text-decoration: none;
  font-weight: bold;
}

.footer-text a:hover {
  text-decoration: underline;
}

.mensagem {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.erro {
  color: red;
}

.sucesso {
  color: green;
}
