body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b48ae2; /* mesma cor da tela anterior */
}

.login-container {
    width: 420px;
    background: white;
    margin: 60px auto;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0px 6px 18px rgba(0,0,0,0.15);
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    color: #5b1e8d;
    font-size: 26px;
}

label {
    display: block;
    margin-bottom: 6px;
    text-align: left;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #9a63d6;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background-color: #864dcc;
}

.cadastro-link {
    margin-top: 15px;
    font-size: 14px;
}

.cadastro-link a {
    color: #5b1e8d;
    font-weight: bold;
    text-decoration: none;
}
